.slideInLeft-enter-active {
  animation: slideInLeft .3s ease-in reverse;
}

.slideInLeft-leave-active {
  animation: slideInLeft .3s ease-out;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.slideInRight-enter-active {
    animation: slideInRight .3s ease-out;
}

.slideInRight-leave-active {
    animation: slideInRight .3s ease-in reverse;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

.fade-enter-active {
    animation: fadeIn .3s ease-out;
}

.fade-leave-active {
    animation: fadeIn .3s ease-in reverse;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInDown-enter-active {
    animation: fadeInDown .3s ease-out;
}

.fadeInDown-leave-active {
    animation: fadeInDown .3s ease-in reverse;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft-enter-active {
    animation: slideInLeft .3s ease-out;
}

.slideInLeft-leave-active {
    animation: slideInLeft .3s ease-in reverse;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

.bounce-enter-active {
    animation: bounceIn 0.6s;
}

.bounce-leave-active {
    animation: bounceIn 0.6s reverse;
}

@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
   
    60% {
      opacity: 1;
      transform: scale(1.2);
    }
   
    100% {
      transform: scale(1);
    }
}

