@charset "utf-8";
// Import variables
@import "_variables";
// Import the rest of Bulma
@import "~bulma/bulma";
@import "_animations";

html {
  height: 100vh;
}

body,
#__nuxt {
  min-height: 100vh;
}

.is-vcentered {
  align-items: center;
  display: flex;
}
