@charset "utf-8";
// Import variables
@import "_variables";
// Import the rest of Bulma
@import "~bulma/bulma";
@import "_animations";
// Import fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Abel');

html {
  height: 100vh;
}

body,
#__nuxt {
  min-height: 100vh;
}

.is-vcentered {
  align-items: center;
  display: flex;
}

.is-notvisible {
  visibility: hidden;
}

a:hover {
  text-decoration: underline;
}

